@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("./fonts/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: "Sevillana";
  src: url("./fonts/YeonSung-Regular.ttf");
}

body {
  @apply min-h-screen m-0 font-['Roboto'] bg-gradient-to-br from-green-900 to-green-400 text-white;
}

img {
  border-radius: 0.375rem; /* Tailwind's rounded-md */
}

/* Optional: If you're using Sevillana in cards */
.card {
  font-family: "Sevillana", cursive;
}
